<div class="view-invoice-wrapper">
  <ng-container *ngIf="isLoading">
    <div class="loader-wrapper">
      <div class="spinner-border" role="status"></div>
    </div>
  </ng-container>

  <div class="back-option">
    <div class="btn btn-light" [routerLink]="['/invoices']">
      <i class="bi bi-arrow-left-short"></i>
    </div>
  </div>

  <ng-container *ngIf="!isLoading && invoice">
    <div class="invoice-details">
      <div class="header-section">
        <div class="company-details">
          <div class="company-logo">
            <img src="logo.png" alt="Logo" />
          </div>

          <section>
            <div class="company-name text-dark fs-4 fw-bold">
              {{ companyDetails.name }}
            </div>
            <div class="company-address fw-bold">
              {{ companyDetails.address }}
            </div>
            <div class="company-gst fs-6 fw-bold">
              GSTIN: {{ companyDetails.gstin }}
            </div>
          </section>
        </div>

        <div class="tax-invoice-title">
          <span class="fs-1 fw-bolder text-uppercase"> Tax Invoice </span>

          <div class="mobile fw-bold">
            <div>Mob:</div>

            <div class="numbers">
              <div *ngFor="let number of companyDetails.phoneNumbers">
                {{ number }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-section">
        <div class="info-section text-dark">
          <div class="receiver-info-section fw-bold">
            <div class="receiver-company-name">{{ invoice.company_name }}</div>

            <div class="receiver-address">{{ invoice.company_address }}</div>

            <div class="receiver-gst">
              Party GSTIN No: {{ invoice.company_gst_no }}
            </div>
          </div>

          <div class="invoice-info-section">
            <div
              class="invoice-no d-flex align-items-center justify-content-center gap-1"
            >
              <span>Invoice No:</span>
              <span class="text-dark fw-bold fs-5">
                {{ invoice.invoice_no }}
              </span>
            </div>

            <div class="invoice-date">
              Date:
              <span class="fs-6 fw-bold">{{ invoice.date | formatDate }}</span>
            </div>
          </div>
        </div>

        <div class="extras-section">
          <ng-container *ngIf="invoice.dc_nos">
            <div class="invoice-dc-nos text-dark">
              DC No:
              <span class="fw-bold">
                {{ invoice.dc_nos.join(" / ") }}
              </span>
            </div>
          </ng-container>

          <ng-container *ngIf="invoice.order_nos">
            <div class="invoice-order-nos text-dark">
              Order No: #
              <span class="fw-bold">
                {{ invoice.order_nos.join(" / ") }}
              </span>
            </div>
          </ng-container>
        </div>

        <div class="items-section">
          <div class="items-list">
            <div class="list-header py-2 px-2 fw-bold">
              <div class="name">Name</div>
              <div class="quantity">Quantity</div>
              <div class="rate">Rate</div>
              <div class="amount">Amount</div>
            </div>

            <div
              class="list-item py-2 px-2 fw-bold"
              *ngFor="let item of invoice.invoice_items; let i = index"
            >
              <div class="name">{{ item.name }}</div>
              <div class="quantity">{{ item.quantity }}</div>
              <div class="rate">{{ item.rate }} ₹</div>
              <div class="amount">{{ item.amount }} ₹</div>
            </div>
          </div>
        </div>

        <div class="amount-section">
          <div class="grand-total-amount-section">
            <div
              class="grand-total-amount d-flex align-items-center justify-content-start gap-1"
            >
              <div>Grand Total:</div>
              <div class="fs-3 fw-bold">{{ invoice.grand_total }} ₹</div>
            </div>

            <div
              class="amount-in-words d-flex align-items-start justify-content-start gap-1"
            >
              <div class="label">Amount in Words:</div>
              <div class="fw-bold">
                {{ invoice.amount_in_words }}
                only.
              </div>
            </div>
          </div>

          <div class="total-amount-section">
            <div class="label-section fw-bold">
              <div>Total</div>
              <ng-container *ngIf="invoice.sgst">
                <div>SGST {{ invoice.sgst_rate }}%</div>
              </ng-container>

              <ng-container *ngIf="invoice.cgst">
                <div>CGST {{ invoice.cgst_rate }}%</div>
              </ng-container>

              <ng-container *ngIf="invoice.igst">
                <div>IGST {{ invoice.igst_rate }}%</div>
              </ng-container>

              <div>Grand Total</div>
            </div>

            <div class="values-section text-dark fw-bold">
              <div>{{ invoice.total }} ₹</div>

              <ng-container *ngIf="invoice.sgst">
                <div>{{ invoice.sgst | number : "1.0-0" }} ₹</div>
              </ng-container>

              <ng-container *ngIf="invoice.cgst">
                <div>{{ invoice.cgst | number : "1.0-0" }} ₹</div>
              </ng-container>

              <ng-container *ngIf="invoice.igst">
                <div>{{ invoice.igst | number : "1.0-0" }} ₹</div>
              </ng-container>

              <div>{{ invoice.grand_total }} ₹</div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-section">
        <div class="conditions fw-bold">
          <div
            *ngFor="let condition of companyDetails.conditions; let i = index"
          >
            {{ i + 1 }}. {{ condition }}
          </div>
        </div>

        <div class="signatures fw-bold">
          <div class="signature-section">
            <div class="signature-area"></div>
            <div class="label">Receiver's Signature</div>
          </div>

          <div class="signature-section">
            <div class="signature-area">
              <ng-container *ngIf="isSigned">
                <img src="renuka_signature.png" alt="Signature" />
              </ng-container>
            </div>
            <div class="label">Authorised Signature</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading && !invoice">
    <div class="no-invoice">
      <div class="image-container">
        <img src="result-not-found.jpg" alt="Invoice not found!" />
      </div>

      <div class="title text-secondary fw-bold fs-3 text-uppercase">
        No Invoice found!
      </div>

      <div class="options d-flex gap-2">
        <div
          class="btn btn-light btn-sm py-2 px-4 text-dark fw-bolder"
          (click)="createInvoice()"
        >
          <i class="bi bi-plus"></i>
          <span>Create Invoice</span>
        </div>

        <div
          class="btn btn-light btn-sm py-2 px-4 text-dark fw-bolder"
          (click)="viewInvoices()"
        >
          <i class="bi bi-arrow-left-short"></i>
          <span> View Invoices </span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading && invoice">
    <div class="print-options">
      <div
        class="edit-invoice btn btn-light btn-sm d-flex gap-2 fw-bold text-success"
        (click)="editInvoice(invoice.uuid)"
      >
        <i class="bi bi-pencil-square"></i>
      </div>

      <div
        class="sign-invoice btn btn-light btn-sm fw-bold d-flex gap-2"
        (click)="isSigned = !isSigned"
      >
        <span class="tax-checkbox text-success">
          <i
            [class]="
              isSigned ? 'bi bi-check-square-fill text-success' : 'bi bi-square'
            "
          ></i>
        </span>

        <span class="text-success">
          <i class="bi bi-pen"></i>
        </span>
      </div>

      <div
        class="btn btn-light btn-sm d-flex gap-2 fw-bold text-success"
        (click)="printInvoice()"
      >
        <i class="bi bi-download"></i>
      </div>
    </div>
  </ng-container>
</div>
