.view-gst-wrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: #fff;
  border-radius: 24px;
  overflow: hidden;

  button {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &.custom-btn {
      letter-spacing: 2px;
    }
  }

  .header-section {
    width: 100%;
    padding: 16px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    letter-spacing: 2px;

    .close-option-section {
      cursor: pointer;
    }
  }

  .gst-details-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    padding: 24px 48px;
    overflow: hidden;

    .gst-details-header-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .options-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        font-size: small;

        .dates-section {
          display: flex;
          gap: 12px;
        }
      }
    }

    .gst-details-content-section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 24px;
      padding: 24px 48px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .gst-detail-section {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 12px;
        padding: 12px 32px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 12px lightgray;

        &:hover {
          transform: scale(1.025);
          box-shadow: 0 0 24px lightgray;
        }

        .details-section {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 24px;
          font-size: small;
          font-weight: 600;

          .values {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
          }
        }

        .invoice-details-section {
          width: 60%;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;

          .invoice-values {
            width: 100%;
            display: flex;
            gap: 24px;
          }

          .company {
            letter-spacing: 2px;
          }
        }

        .amount-details-section {
          width: 40%;
          justify-content: space-between;

          &.pending {
            justify-content: center;
            letter-spacing: 2px;
          }
        }
      }
    }

    .gst-details-amounts-section {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      padding: 16px 0;

      .amounts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 42px;
        font-size: small;
        font-weight: 600;

        .values {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }
      }

      .options {
        position: absolute;
        right: 0;
      }
    }
  }

  .selection-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
    padding: 24px;

    .title {
      letter-spacing: 2px;
    }

    .error-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: small;
      background-color: rgba(240, 128, 128, 0.3);
      padding: 4px 16px;
      border-radius: 16px;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}
