.manage-invoices-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 24px 42px;
  font-family: "Manrope", "Roboto";
  overflow: hidden;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      letter-spacing: 2px;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .invoices-details {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &.responsive {
      width: 70%;
    }

    .invoices-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .invoices-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;

        .filter {
          font-size: 14px !important;
        }

        .search {
          width: 65px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 4px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 32px;
          transition: all 0.3s ease-in-out;
          padding: 0 16px;
          cursor: pointer;

          input {
            width: 100%;
            height: 100%;
            padding: 8px;
            border: none;
            outline: none;
            font-size: small;
            background: transparent;

            &::placeholder {
              color: gray;
            }
          }

          &:focus-within,
          &:hover {
            width: 300px;
          }
        }
      }
    }

    .invoices-list {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 12px;
      overflow: hidden;

      .invoices {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .invoice {
          width: 80%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding: 12px 32px;
          border-radius: 8px;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 0 12px lightgray;
          font-size: 14px;

          .invoice-details {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 4px;

            .section {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 16px;
            }
          }

          .invoice-options {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;

            .btn {
              border-radius: 8px;
              padding: 8px 16px;
              transition: all 0.3s ease-in-out;
              border: none;
              box-shadow: 0 0 8px lightgray;
              background: white;

              &:hover {
                transform: scale(1.15);
                box-shadow: 0 0 12px lightgray;
              }
            }
          }

          &.incomplete {
            background-color: rgba(211, 211, 211, 0.2);
          }

          &:hover {
            transform: scale(1.025);
            box-shadow: 0 0 24px lightgray;
          }
        }
      }

      .pagination {
        width: 90%;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;

        button {
          font-size: small;
        }

        .page-control {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          font-size: small;

          input {
            padding: 2px 8px;
            border-radius: 4px;
            border: 1px solid lightgray;
            outline: none;
          }
        }
      }
    }
  }

  .no-invoices {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }
}

.modal {
  .modal-body {
    .deleting-invoice-details {
      font-size: small;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.offcanvas {
  border: 1px solid #d3d3d380;
  border-radius: 8px 0 0 8px;
  overflow: hidden;

  .offcanvas-header {
    background: var(--Greys-Grey1_F7F8FF, #f7f8ff);

    .offcanvas-title {
      font-size: medium;
      font-weight: bold;
    }

    .btn-close {
      font-size: 12px !important;
      padding: 0 12px !important;
    }
  }

  .offcanvas-body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    .date-filters {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;
      font-size: small !important;

      input {
        font-size: 14px !important;
      }
    }

    .companies-dropdown {
      width: 100%;
      position: relative;
      font-size: small !important;
      cursor: pointer;

      .select-company {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid rgba(211, 211, 211, 0.5);
        outline: none;
        color: #000;
        font-size: small;
        transition: all 0.3s ease-in-out;
        background-color: white;

        &.inactive {
          color: lightgray;
        }

        &:focus {
          border: 1px solid rgba(211, 211, 211);
          box-shadow: 0 0 12px rgba(211, 211, 211, 0.5);
        }

        .selected {
          color: black;
        }
      }

      .companies-dropdown-list {
        width: 100%;
        max-height: 250px;
        margin-top: 4px;
        position: absolute;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(211, 211, 211, 0.5);
        overflow: auto;
        z-index: 3;
        background-color: white;

        &::-webkit-scrollbar {
          display: none;
        }

        .company {
          font-size: 12px;
          padding: 16px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: rgba(211, 212, 213, 0.3);
          }
        }
      }
    }
  }

  .offcanvas-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 24px 12px;
  }

  &.bottom-right-offcanvas {
    height: 600px;
    bottom: 5%;
    right: 0;
    top: auto;

    .offcanvas-body {
      overflow-y: auto;
    }
  }
}

.image {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.gst-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
