<div class="manage-invoices-wrapper">
  <div class="header">
    <div class="title">
      <div class="text-secondary fw-bold fs-6 text-uppercase">Invoices</div>
    </div>

    <div class="options">
      <div
        class="btn btn-light btn-sm py-2 px-4 text-success fw-bolder d-flex gap-2"
        (click)="createInvoice()"
      >
        <span>Create Invoice</span>
        <i class="bi bi-arrow-right-circle fs-6"></i>
      </div>

      <div
        class="btn btn-light btn-sm py-2 px-4 text-success fw-bolder d-flex gap-2"
        (click)="showGstModal = true"
      >
        <span>Export GST</span>
        <i class="bi bi-arrow-up-right-circle fs-6"></i>
      </div>
    </div>
  </div>

  <div
    class="invoices-details"
    [ngClass]="{
      responsive: isFiltersCanvasOpen
    }"
  >
    <div class="invoices-header">
      <div class="invoices-count">
        <div class="text-secondary fw-bold fs-6">
          Invoices: {{ totalInvoices }}
        </div>
      </div>

      <div class="invoices-options">
        <div class="search bg-body-light">
          <input
            class="text-secondary fw-bold"
            type="search"
            placeholder="Search by invoice or company"
            [formControl]="searchControl"
            autocomplete="off"
          />

          <div class="p-2 text-success fw-bolder">
            <i class="bi bi-search"></i>
          </div>
        </div>

        <button
          class="btn btn-light fw-bolder text-success filter"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasFilters"
          aria-controls="offcanvasFilters"
          (click)="isFiltersCanvasOpen = !isFiltersCanvasOpen"
        >
          Filters
        </button>
      </div>
    </div>

    <ng-container *ngIf="isLoading">
      <div class="loader-wrapper">
        <div class="spinner-border" role="status"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isLoading && totalInvoices > 0">
      <div class="invoices-list">
        <div class="invoices">
          <div
            class="invoice"
            *ngFor="let invoice of invoices"
            [ngClass]="{
              incomplete: !invoice?.grand_total
            }"
          >
            <div class="invoice-details">
              <div class="section">
                <div class="invoice-number fs-4 fw-bolder">
                  {{ invoice?.invoice_no }}
                </div>
                <div class="invoice-company text-secondary fw-bolder">
                  {{ invoice?.company_name }}
                </div>
              </div>

              <div class="invoice-date text-danger">
                Date: {{ invoice?.date | formatDate }}
              </div>

              <ng-container *ngIf="invoice?.grand_total">
                <div class="invoice-amount text-success">
                  Amount: {{ invoice?.grand_total }} ₹
                </div>
              </ng-container>
            </div>

            <div class="invoice-options">
              <div
                class="btn btn-light d-flex btn-sm text-success fw-bolder"
                (click)="editInvoice(invoice.uuid)"
              >
                <i class="bi bi-box-arrow-in-up-right fs-5"></i>
              </div>

              <div
                class="btn btn-light d-flex btn-sm text-danger fw-bolder"
                data-bs-toggle="modal"
                data-bs-target="#deleteInvoiceModal"
                (click)="selectInvoice(invoice.uuid)"
              >
                <i class="bi bi-trash fs-5"></i>
              </div>

              <ng-container *ngIf="invoice?.grand_total">
                <div
                  class="btn btn-light d-flex btn-sm text-dark fw-bolder"
                  (click)="viewInvoice(invoice.uuid)"
                >
                  <i class="bi bi-printer fs-5"></i>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <ng-container *ngIf="totalPages > 1">
          <div class="pagination">
            <ng-container *ngIf="currentPage !== 1">
              <button
                class="btn btn-sm btn-light"
                (click)="changePage(currentPage - 1)"
              >
                Previous
              </button>
            </ng-container>

            <ng-container *ngIf="currentPage !== totalPages">
              <button
                class="btn btn-sm btn-light"
                (click)="changePage(currentPage + 1)"
              >
                Next
              </button>
            </ng-container>

            <div class="page-control">
              <input
                type="number"
                [formControl]="pageControl"
                [min]="1"
                [max]="totalPages"
              />

              <span>/ {{ totalPages }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="!isLoading && totalInvoices === 0">
      <div class="no-invoices">
        <div class="text-secondary fw-bold fs-6">
          No Invoices found, create invoices to see them here!
        </div>

        <div
          class="btn btn-light btn-sm py-2 px-4 text-success fw-bolder d-flex gap-6"
          (click)="createInvoice()"
        >
          <i class="bi bi-plus"></i>
          <span>Create Invoice</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-container>
  <div
    class="modal fade"
    id="deleteInvoiceModal"
    tabindex="-1"
    aria-labelledby="deleteInvoiceModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="header">
          <div
            class="modal-title d-flex gap-2 align-items-center justify-content-start px-3 fs-6 text-danger"
            id="deleteInvoiceModalLabel"
          >
            Delete Invoice -
            <span class="fs-3 fw-bolder">
              {{ selectedInvoice?.invoice_no }}
            </span>
          </div>
        </div>

        <div class="modal-body">
          <div class="deleting-invoice-details">
            <div class="invoice-company text-secondary fs-6 fw-bolder">
              Company: {{ selectedInvoice?.company_name }}
            </div>

            <div class="invoice-date text-dark fs-6 fw-bolder">
              Date: {{ selectedInvoice?.date | formatDate }}
            </div>

            <ng-container *ngIf="selectedInvoice?.grand_total">
              <div class="invoice-amount text-success fs-6 fw-bolder">
                Amount: {{ selectedInvoice?.grand_total }} ₹
              </div>
            </ng-container>
          </div>

          <div class="text-danger text-center mt-3 fw-bold">
            Are you sure you want to delete this invoice?
          </div>

          <div class="image">
            <img src="delete-content.jpg" type="image/*" alt="delete-details" />
          </div>
        </div>

        <div
          class="footer d-flex align-items-center justify-content-center gap-2"
        >
          <button
            type="button"
            class="btn btn-secondary btn-sm d-flex gap-2 py-2 px-4 text-light fw-bold"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm d-flex gap-2 py-2 px-4 text-light fw-bold"
            (click)="deleteInvoice(selectedInvoice?.uuid!)"
            data-bs-dismiss="modal"
          >
            <i class="bi bi-trash3-fill"></i>
            Delete Invoice
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container>
  <div
    class="offcanvas offcanvas-end bottom-right-offcanvas"
    tabindex="-1"
    id="offcanvasFilters"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    aria-labelledby="offcanvasFiltersLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-secondary" id="offcanvasFiltersLabel">
        Filters
      </h5>

      <div
        type="button"
        class="btn-close fs-6"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        (click)="isFiltersCanvasOpen = false"
      ></div>
    </div>

    <div class="offcanvas-body">
      <div class="date-filters">
        <div>
          <label for="fromDate" class="form-label text-secondary fw-bold"
            >From Date</label
          >
          <input
            type="date"
            class="form-control text-dark fs-6"
            id="fromDate"
            name="fromDate"
            [(ngModel)]="filters.fromDate"
          />
        </div>

        <div>
          <label for="toDate" class="form-label text-secondary fw-bold"
            >To Date</label
          >
          <input
            type="date"
            class="form-control text-dark fs-6"
            id="toDate"
            name="toDate"
            [(ngModel)]="filters.toDate"
          />
        </div>
      </div>

      <div class="companies-dropdown" #companyDropdown>
        <div class="filter-label text-secondary fw-bold mb-2">Company</div>

        <div
          class="select-company text-secondary fw-bold"
          (click)="showCompanyDropdown = !showCompanyDropdown"
        >
          <span [ngClass]="{ selected: filters.company }">
            {{ filters.company || "Select a company" }}
          </span>
        </div>

        <ng-container *ngIf="showCompanyDropdown">
          <div class="companies-dropdown-list">
            <div
              class="company"
              *ngFor="let company of companies"
              (click)="
                filters.company = company?.company_name ?? '';
                showCompanyDropdown = false
              "
            >
              {{ company?.company_name }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="offcanvas-footer">
      <div
        class="btn btn-light btn-sm py-2 px-4 text-success fw-bolder"
        (click)="resetFilters()"
      >
        Reset Filters
      </div>

      <div
        class="btn btn-light btn-sm py-2 px-4 text-success fw-bolder"
        (click)="applyFilters()"
      >
        Apply Filters
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showGstModal">
  <div class="gst-wrapper">
    <app-gst (close)="showGstModal = false"></app-gst>
  </div>
</ng-container>
