.invoice-basic-details-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding: 24px 42px;

  label {
    font-size: small;
    font-weight: 600;
    color: #000;
  }

  input {
    display: flex;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid rgba(211, 211, 211, 0.5);
    outline: none;
    color: #000;
    font-size: small;
    transition: all 0.3s ease-in-out;

    &:focus {
      border: 1px solid rgba(211, 211, 211);
      box-shadow: 0 0 12px rgba(211, 211, 211, 0.5);
    }

    &::placeholder {
      color: lightgray;
    }
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }
  }

  form {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border-radius: 8px;
    background-color: whitesmoke;
    overflow: hidden;

    .form-header {
      letter-spacing: 2px;
    }

    .invoice-basic-details {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 32px;
      padding: 8px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .basic-details-section {
        width: 100%;
        height: 100%;

        section {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 8px;

          .basic-section {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 8px;
          }

          .company-section {
            width: 70%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 8px;

            .form-dropdown {
              width: 50%;
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              gap: 4px;

              .company-dropdown {
                width: 100%;
                position: relative;
                cursor: pointer;

                .company-dropdown-toggle {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 12px 16px;
                  border-radius: 8px;
                  border: 1px solid rgba(211, 211, 211, 0.5);
                  outline: none;
                  color: #000;
                  font-size: small;
                  transition: all 0.3s ease-in-out;
                  background-color: white;

                  &.inactive {
                    color: lightgray;
                  }

                  &:focus {
                    border: 1px solid rgba(211, 211, 211);
                    box-shadow: 0 0 12px rgba(211, 211, 211, 0.5);
                  }
                }

                .company-dropdown-menu {
                  width: 100%;
                  max-height: 250px;
                  margin-top: 4px;
                  position: absolute;
                  border-radius: 8px;
                  box-shadow: 0 0 12px rgba(211, 211, 211, 0.5);
                  overflow: auto;
                  z-index: 3;
                  background-color: white;

                  &::-webkit-scrollbar {
                    display: none;
                  }

                  .company-dropdown-item {
                    font-size: 12px;
                    padding: 16px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                      background-color: rgba(211, 212, 213, 0.3);
                    }
                  }

                  .create-company-option {
                    width: 100%;
                    border-top: 1px solid rgba(211, 211, 211, 0.5);
                    position: sticky;
                    bottom: 0;
                  }
                }
              }
            }

            .company-inputs {
              width: 50%;
              display: flex;
              justify-content: flex-start;
              flex-direction: column;
              gap: 16px;
            }
          }
        }

        .section-forms {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          gap: 42px;
          padding: 32px 0;

          .form-group {
            width: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 12px;

            label {
              width: 15%;
              padding: 12px 0;
            }

            .inputs {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-direction: column;
              gap: 8px;

              .input-control {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
              }

              .chip-container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 8px;
                flex-wrap: wrap;
                padding: 12px 0;

                .chip {
                  width: 15%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 8px;
                  background-color: lightgray;
                  padding: 4px 8px;
                  font-size: small;
                  font-weight: 600;
                  color: #000;
                  border-radius: 4px;
                  transition: all 0.3s ease-in-out;

                  &:hover {
                    transform: translateY(-2px);
                  }

                  i {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 0 16px;

    button {
      font-size: small;
      box-shadow: 0 0 12px rgba(211, 211, 211, 0.75);
      padding: 12px;
    }
  }
}
